name: Export codelab from Google Doc

on:
  push:
    branches:
      - main  # Set a branch that will trigger a deployment
  pull_request:
  workflow_dispatch:

jobs:
  export:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Export codelab
        uses: "khammami/claat-action@[version|main]"
        with:
          source: 'docs/observability-workshop/workshop.md'
          format: 'html'
  deploy:
    runs-on: ubuntu-22.04
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: true  # Fetch Hugo themes (true OR recursive)
          fetch-depth: 0    # Fetch all history for .GitInfo and .Lastmod
      - name: Setup Hugo
        uses: peaceiris/actions-hugo@v2
        with:
          hugo-version: 'latest'
          extended: true
      - name: Build
        run: hugo --minify
      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        if: github.ref == 'refs/heads/main' # Authorize the deployment for the main branch only
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./docs
